In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [39]:
df = pd.read_csv("mercedesbenz.csv", usecols= ['X0', 'X1', 'X2', 'X3', 'X4', 'X5','X6','X8'])

In [40]:
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [41]:
df.shape

(4209, 8)

In [42]:
len(df.X2.unique())

44

In [43]:
# The columns are changing from 18 to 197 after doing one hot encoding
pd.get_dummies(df, drop_first=True)

,X0_aa,X0_ab,X0_ac,X0_ad,X0_af,X0_ai,X0_aj,X0_ak,X0_al,X0_am,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4206,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [44]:
# To see how many unique categories are there in features
for col in df.columns:
    print(col, len(df[col].unique()), 'labels')

X0 47 labels
X1 27 labels
X2 44 labels
X3 7 labels
X4 4 labels
X5 29 labels
X6 12 labels
X8 25 labels

In [45]:

df.X0.value_counts().sort_values(ascending= False)

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
b      11
k      11
au     11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [46]:
top_10 = [ x for x in df.X0.value_counts().sort_values(ascending= False)[:10].index]

In [47]:
top_10

['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w']

In [48]:
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [49]:
for label in top_10:
    df[label] = np.where(df['X0'] == label, 1, 0)

df[['X0']+top_10].head(40)

    X0  z  ak  y  ay  t  x  o  f  n  w
0    k  0   0  0   0  0  0  0  0  0  0
1    k  0   0  0   0  0  0  0  0  0  0
2   az  0   0  0   0  0  0  0  0  0  0
3   az  0   0  0   0  0  0  0  0  0  0
4   az  0   0  0   0  0  0  0  0  0  0
5    t  0   0  0   0  1  0  0  0  0  0
6   al  0   0  0   0  0  0  0  0  0  0
7    o  0   0  0   0  0  0  1  0  0  0
8    w  0   0  0   0  0  0  0  0  0  1
9    j  0   0  0   0  0  0  0  0  0  0
10   h  0   0  0   0  0  0  0  0  0  0
11  al  0   0  0   0  0  0  0  0  0  0
12   s  0   0  0   0  0  0  0  0  0  0
13  al  0   0  0   0  0  0  0  0  0  0
14   o  0   0  0   0  0  0  1  0  0  0
15   n  0   0  0   0  0  0  0  0  1  0
16  al  0   0  0   0  0  0  0  0  0  0
17  ay  0   0  0   1  0  0  0  0  0  0
18   f  0   0  0   0  0  0  0  1  0  0
19   n  0   0  0   0  0  0  0  0  1  0
20   f  0   0  0   0  0  0  0  1  0  0
21   t  0   0  0   0  1  0  0  0  0  0
22   x  0   0  0   0  0  1  0  0  0  0
23   x  0   0  0   0  0  1  0  0  0  0
24   y  0   0  1   0  0  0  0  0  0  0
25   o  0   0  0   0  0  0  1  0  0  0
26  aj  0   0  0   0  0  0  0  0  0  0
27   t  0   0  0   0  1  0  0  0  0  0
28   f  0   0  0   0  0  0  0  1  0  0
29   x  0   0  0   0  0  1  0  0  0  0
30  az  0   0  0   0  0  0  0  0  0  0
31   w  0   0  0   0  0  0  0  0  0  1
32   x  0   0  0   0  0  1  0  0  0  0
33   o  0   0  0   0  0  0  1  0  0  0
34  ak  0   1  0   0  0  0  0  0  0  0
35  am  0   0  0   0  0  0  0  0  0  0
36  aj  0   0  0   0  0  0  0  0  0  0
37   j  0   0  0   0  0  0  0  0  0  0
38  az  0   0  0   0  0  0  0  0  0  0
39   w  0   0  0   0  0  0  0  0  0  1

In [50]:
def one_hot_cc(data, variables, top_x_labels):
    for label in top_x_labels:
        df[label] = np.where(df['X1'] == label, 1, 0)

top_10 = [ x for x in df.X1.value_counts().sort_values(ascending= False)[:10].index]
df = pd.read_csv("mercedesbenz.csv", usecols= ['X0', 'X1', 'X2', 'X3', 'X4', 'X5','X6','X8'])

one_hot_cc(df, 'X2', top_10)
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8  aa  s  b  l  v  r  i  a  c  o
0   k  v  at  a  d  u  j  o   0  0  0  0  1  0  0  0  0  0
1   k  t  av  e  d  y  l  o   0  0  0  0  0  0  0  0  0  0
2  az  w   n  c  d  x  j  x   0  0  0  0  0  0  0  0  0  0
3  az  t   n  f  d  x  l  e   0  0  0  0  0  0  0  0  0  0
4  az  v   n  f  d  h  d  n   0  0  0  0  1  0  0  0  0  0

In [51]:
top_10 = [ x for x in df.X2.value_counts().sort_values(ascending= False)[:10].index]

one_hot_cc(df, 'X2', top_10)
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8  aa  s  ...  c  o  as  ae  ai  m  ak  n  f  e
0   k  v  at  a  d  u  j  o   0  0  ...  0  0   0   0   0  0   0  0  0  0
1   k  t  av  e  d  y  l  o   0  0  ...  0  0   0   0   0  0   0  0  0  0
2  az  w   n  c  d  x  j  x   0  0  ...  0  0   0   0   0  0   0  0  0  0
3  az  t   n  f  d  x  l  e   0  0  ...  0  0   0   0   0  0   0  0  0  0
4  az  v   n  f  d  h  d  n   0  0  ...  0  0   0   0   0  0   0  0  0  0

[5 rows x 26 columns]

In [52]:
top_10 = [ x for x in df.X3.value_counts().sort_values(ascending= False)[:10].index]

one_hot_cc(df, 'X3', top_10)
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8  aa  s  ...  as  ae  ai  m  ak  n  f  e  d  g
0   k  v  at  a  d  u  j  o   0  0  ...   0   0   0  0   0  0  0  0  0  0
1   k  t  av  e  d  y  l  o   0  0  ...   0   0   0  0   0  0  0  0  0  0
2  az  w   n  c  d  x  j  x   0  0  ...   0   0   0  0   0  0  0  0  0  0
3  az  t   n  f  d  x  l  e   0  0  ...   0   0   0  0   0  0  0  0  0  0
4  az  v   n  f  d  h  d  n   0  0  ...   0   0   0  0   0  0  0  0  0  0

[5 rows x 28 columns]

In [53]:
pd.get_dummies(df).shape

(4209, 215)

# Count / Frequency Encoding

In [54]:
df.X2

0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: X2, Length: 4209, dtype: object

In [55]:
# Converting X2 counts into a dictionary so that it can be mapped later
df_frequency_map = df.X2.value_counts().to_dict()

In [56]:
# Viewing the dictionary
df_frequency_map

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [57]:
df.X2.map(df_frequency_map)

0          6
1          4
2        137
3        137
4        137
        ...
4204    1659
4205      29
4206     153
4207      81
4208     496
Name: X2, Length: 4209, dtype: int64

In [58]:
df.X2

0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: X2, Length: 4209, dtype: object

In [59]:
# extract the date from datetime
df_base = datetime.datetime.today()

In [63]:
df_base

datetime.datetime(2022, 10, 23, 16, 11, 52, 599522)

In [71]:
df_base - datetime.timedelta(days=4)

datetime.datetime(2022, 10, 19, 16, 11, 52, 599522)

In [72]:
df_base - datetime.timedelta(days=1)

datetime.datetime(2022, 10, 22, 16, 11, 52, 599522)